<h1>フォロー一覧</h1>

<% if @users.exists? %>
  <% @users.each do |user| %>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td> <!-- user_path指定されたけど、だれの？ってことで（user）を指定してあげると:idを持ったuserでそのG人のページに行けるようになる。 -->
          <td>フォロー数: <%= user.followings.count %></td> <!--(上の続き)userコントローラー内で使える方法で、それ以外の場所では、user_idを使わないといけない。-->
          <td>フォロワー数: <%= user.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
